/node_modules/
/vendor/
/.git/
/.quasar/
/dist/
/public/build/
/public/hot
/public/storage/
.env
.env.*
!.env.example
/auth.json
*.log
*.sql
*.sqlite
*.sqlite3
*.zip
*.rar
*.respaldo*
/bootstrap/cache/*.php
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/private/*
/storage/app/public/*
/storage/*.key
/.idea/
/.vscode/
/output/
/tmp/
.phpunit.result.cache
/.phpunit.cache/
/quasar.config.*.temporary.compiled*